body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}



.title {
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #E3D721;
    text-align: center;
}

.title--heading {
    font-weight: 700;
}

.title--subtitle {
    font-size: 1.3rem;
    width: 60%;
    margin: 0 auto;
    padding: 15 0;
    font-weight: 400;
}

.dishes {
    padding-top: 30px;
}