*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7;
    color: #4A4A4A;
  }

  a {
    text-decoration: none;
    color: white;
  }

.navigation {
  background-color: #4A4A4A;
  padding: 10px 0;
}

.navigation-company-name {
  color: white;
  padding-left: 30px;
}

.nav-content {
  color: white;
  padding-right: 20px;
}

.active {
  font-weight: 700;
}

.delete {
  background-color: #eb7070;
  padding: 5px 15px;
}
.delete:hover {
  background-color: #da4302;
  color: white;
  padding: 5px 15px;
}

.title {
  font-weight: 700;
  text-align: center;
  padding: 60px 0 30px 0;
}

.text-center {
  text-align: center;
}

#user-form {
  width: 70%;
  margin: 0 auto 20px auto;
}
.form-field {
  padding-top: 15px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: #4f81c7;
  border-color: #4f81c7;
  color: #FFF;
  font-size: 1.4rem;
}


/* ===== alert ====*/
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: #83b582;
}

.error {
    background: #eb7070;
}